.background{
    background-color: black;
}

.produit-grid {
    display: grid;
    grid-template-columns: repeat(4, 375px);
    gap: 40px;
    justify-items: center;
    margin: 10px;
}

.card {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
}

.card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: 300ms;
    border-radius: 8px;
}

.card img:hover {
    width: 250px;
    height: 250px;
}

.card h2, h3 {
    color: #ffffff;
    margin: 15px 0 10px 0;
}

.card button {
    margin-top: 10px;
    padding: 8px 20px;
    background: #1626c7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background: #0f1a8a;
}

h1, h2, h3, h4, h5, h6, p, span{
    color: white;
}

h1{
    text-align: center;
    padding: auto;
    
}

footer{
    text-align: center;
    padding: auto  ;
    background-color: #222;
    color: white;
    position:absolute;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
}

.top button{
    position: absolute;
    right: 20px;
    top: 40px;

}

.top2 button{
    position: absolute;
    left: 20px;
    top: 40px;

}

.popup2 {
    position: relative;
    cursor: pointer;
    user-select: none;
}

.popup2 .popuptext2 {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    transition: opacity 0.3s;
}

.popup2 .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup2 .show {
    visibility: visible;
    opacity: 1;
    animation: fadeIn 1s;
}

.popuptext#globalPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    width: 220px;
    background-color: #222;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 16px 0;
    font-size: 1.2em;
    transition: opacity 0.3s;
}

.popuptext#globalPopup.show {
    visibility: visible;
    opacity: 1;
}

.descPopup {
  position: fixed;
  background-color: #555;
  color: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  left: 0;
  top: 0;
}

.descPopup.show {
  visibility: visible;
  opacity: 1;
}